
<body>
    <table border="1">
        <tr>
            <td>ID</td>
            <td>FirstName</td>
            <td>LastName</td>
            <td>MiddleName</td>
            <td>TelephonNumber</td>
            <td>Email</td>
            <td>Submit</td>
        </tr>
        
        <tr>
            <td>@Model.Id</td>
            <td>@Model.FirstName</td>
            <td>@Model.LastName</td>
            <td>@Model.MiddleName</td>
            <td>@Model.TelephonNumber</td>
            <td>@Model.Email</td>
            <td>@Model.Submit</td>
        </tr>

    </table>
   

</body>
